<!-- Footer -->
</div>
</main>
<footer >
    <div class="footer"></div>
    
        <p class="footerTxt">&copy;Student name-prabhjot singh student number - 301273101 Assignment-1</p>
    
</footer>
</body>

</html>