<!-- Student name - prabhjot singh, student-id - 301273101 -->
<%- include("partials/header")-%>
    <img class="imgprabh" src="images\self.jpg" alt="Prabhjot singh">
    <p id="abt" class="aboutprabh">I am student of Centennial College in Software engineering technician program.I am learning web DEVELOPMENT
        to be a full-stack developer in the future and do amazing things with this skill, and could work in IT field.</p>
    </p>
    <a href="./resume.txt">Resume</a>
    <%- include("partials/footer")-%>
