<!--Student name- prabhjot singh, student id - 301273101 -->
<%- include("partials/header")-%>
    <h2 class="missionStatementHead">Greetings, Everyone!</h2>
    <p id="home" class="missionStatement">
        My name is prabhjot singh, and I am currently a student at centennial college enrolled in software engineering technician.
        I am trying to learn new skills each day to keep my IT knowledge updated and to compete with the world in this fast paced 
        environment, I really want to work in IT sector with professionals.
    </p>
    <h2 class="missionStatementHead">Our mission</h2>
    <p id="home" class="missionStatement">Our mission is to provide value for money service to our clients, which they can show to their 
        knowns and can take pride in that work, and can really have a good feeling that they have spent their money on something good.

    </p>


    <%- include("partials/footer")-%>