<!-- Student name - prabhjot singh, student-id - 301273101 -->

<%- include("partials/header")-%>
    <br>
    
    <div class="card" style="width: 18rem;">
        <h4>Project-1 Web form</h4>
        <img class="projectImage" src="images/screenshot html.png" alt="Card image cap">
        <p>This project gives a good knowledge HTML and JAVASCRIPT.</p>
    </div>
    <div class="card" style="width: 18rem;">
        <h4>Project 2 - Working Bug game</h4>
        <img class="projectImage" src="images/Screenshot javascript.png" alt="Card image cap">
        <p>This project is using HTML, CSS and JAVASCRIPT that helped me a lot to refine my skills on the Development.</p>
    </div>
    <div class="card" style="width: 18rem;">
        <h4>Project 3 - image slideshow</h4>
        <img class="projectImage" src="images/Screenshot images.png" alt="Card image cap">
        <p>This project is using HTML, CSS,Jquery, and JAVASCRIPT.</p>
    </div>
    
<%- include("partials/footer")-%>