<!-- Services -->
<%- include("partials/header") -%>
    
        <img class="servicesImg" src="images/web.jpg">
        
    
    <br>
    <h2 class="serviceText">We take pride in helping our customers with their needs, and work according to their wishes.</h2>
    <p style="font-size: larger;"> <b> Our services includes: </b></p>

    <p>Web Application Development</p>
    
    <h3 style="text-align: center;">We offer best service to our customers at reasonable prices to help them make good impression.</h3>

    <%- include("partials/footer")-%>